body {
	background-color: #57BC90;
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}

#body {
	
	background-color: #77C9D4;
	margin: auto;
	text-align: center;
	margin-top: 50px;
	border: #015249 10px solid;
	border-radius: 15px;
	width: 800px;
	height: 500px;
}

h1 {
	font-family: Verdana, Geneva, sans-serif;
	font-size: 50px;
	margin-top: 5px;
}

h2 {
	margin-top: -10px;
	font-family: "Arial Black", Gadget, sans-serif;
}

h1, h2 {
	text-align: center;
	color: white;
	/*font-family: "Arial Black", Gadget, sans-serif;*/
	
}

#topics {
	margin: auto;
	color: white;
	border-spacing: 0;
	border-radius: 10px;
	/*background-color: #015249;*/
	border-collapse: separate;
	border-spacing: 0 .5em;
	display: inline-block;
	vertical-align: top;
	margin-left: 115px;
}

#topics td {
	/*padding: 15px 30px 15px 30px;*/

	background-color: #015249;
	border-radius: 10px;
	text-align: left;
}

#topics a {
	display: block;
	text-decoration: none;
	padding:15px 10px 15px 10px;
	
	display:block;
	color:#FFFFFF;
	text-decoration:none;
}

#topics a:hover {
	background-color: #A5A5AF;
	border-radius: 10px;
	color: black;
}

#score {
	clear: right;
	display: inline-block;
	vertical-align: top;
	text-align: left;
	margin-left: 50px;

}

#score p {
	font-weight: bold;
	
	margin-bottom: 30px;
}

.bold {
	margin-top: -20px;
	font-weight: 900;
	font-size: 25px;

}