body {
	background-color: #57BC90;
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}

#body, #body2 {
	background-color: #77C9D4;
	margin: auto;
	text-align: center;
	margin-top: 50px;
	border: #015249 10px solid;
	
	width: 800px;
	height: 500px;
}

#body h1 {
	font-family: Verdana, Geneva, sans-serif;
	font-size: 50px;
	margin-top: 5px;
}

#body h2 {
	margin-top: -10px;
	font-family: "Arial Black", Gadget, sans-serif;
}

#body h1, #body h2 {
	text-align: center;
	color: white;
	/*font-family: "Arial Black", Gadget, sans-serif;*/
	
}

#topics {
	margin: auto;
	color: white;
	border-spacing: 0;
	border-radius: 10px;
	/*background-color: #015249;*/
	border-collapse: separate;
	border-spacing: 0 .5em;
	display: inline-block;
	vertical-align: top;
	margin-left: 115px;
}

#topics td {
	/*padding: 15px 30px 15px 30px;*/

	background-color: #015249;
	border-radius: 10px;
	text-align: left;
}

#topics a {
	display: block;
	text-decoration: none;
	padding:15px 10px 15px 10px;
	
	display:block;
	color:#FFFFFF;
	transition-duration: 0.3s;
}

#topics a:hover {
	background-color: #A5A5AF;
	border-radius: 10px;
	color: black;
}

#score {
	clear: right;
	display: inline-block;
	vertical-align: top;
	text-align: left;
	margin-left: 50px;
	margin-top: -10px;
}

#score p {
	font-weight: bold;
	
	margin-bottom: 20px;
}

.bold {
	margin-top: -20px;
	font-weight: 900;
	font-size: 25px;

}

#body2 h2 {
	margin-top: 10px;
	color: white;
	font-family: "Arial Black", Gadget, sans-serif;
	
}

img {
	margin-right: -20px;
	margin-top: -20px;
}

#phrase {
	font-size: 40px;
	font-weight: 700px;
	letter-spacing: 5px;
	font-family: "Lucida Console";
	margin-top: -15px;
}

#forfeit {
    background-color: #015249; /* Green */
    border: none;
    color: white;
    padding: 8px 24px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.3s;
    cursor: pointer;
	border-radius: 5px;
    color: white;
    margin-top: -10px;
}

#forfeit:hover {
	background-color: #A5A5AF; /* Green */
    color: black;
}

#keyboard {
	margin: auto;
	margin-top: 15px;
}

#keyboard td{
	font-size: 20px;
	font-weight: bold;
	border: gray 2px solid;
	border-radius: 2px;
	background-color: white;
	height: 37px;
	width: 37px;
	transition-duration: 0.2s;
}

#keyboard a {
	text-decoration:none;
	color: black;
	display:block;
}

#keyboard td:hover {
	background-color: #cccccc;
}

#keyboard tr {
	display: block;
}

#keyboard tr:nth-of-type(2) {
	padding-left: 12px;
}

#keyboard tr:nth-of-type(3) {
	padding-left: 38px;
}







